## 作業 (Python 基礎)

- 1 請使用 pip 將 jieba 安裝在自己的電腦上
- 2 閱讀jieba 相關的文件，了解jieba 的用法
- 3 請將蔡英文演說文 (https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt) 下載存入到自己電腦
- 4 請使用python 的檔案操作方法讀取新聞
- 5 請使用 jieba 將演說文切詞
- 6 請統計該演說文最常出現的十大字詞

###  請使用 pip 將 jieba 安裝在自己的電腦上

In [2]:
! pip install jieba

Requirement already satisfied: jieba in /usr/local/lib/python3.6/dist-packages (0.42.1)

### 閱讀jieba 相關的文件，了解jieba 的用法
- https://github.com/fxsjy/jieba

In [3]:
# encoding=utf-8
import jieba

seg_list = jieba.cut("我来到北京清华大学", cut_all=True)
print("Full Mode: " + "/ ".join(seg_list))  # 全模式

seg_list = jieba.cut("我来到北京清华大学", cut_all=False)
print("Default Mode: " + "/ ".join(seg_list))  # 精确模式

Building prefix dict from the default dictionary ...
Dumping model to file cache /tmp/jieba.cache
Loading model cost 0.874 seconds.
Prefix dict has been built successfully.

Full Mode: 我/ 来到/ 北京/ 清华/ 清华大学/ 华大/ 大学
Default Mode: 我/ 来到/ 北京/ 清华大学

###  請將蔡英文演說文 (https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt) 下載存入到自己電腦

- http://linux.vbird.org/

In [1]:
! wget https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt

--2020-05-02 01:33:57--  https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6579 (6.4K) [text/plain]
Saving to: ‘speech_tsai.txt’

speech_tsai.txt     100%[===================>]   6.42K  --.-KB/s    in 0s

2020-05-02 01:33:57 (90.9 MB/s) - ‘speech_tsai.txt’ saved [6579/6579]

### 請使用python 的檔案操作方法讀取新聞

In [0]:
with open('speech_tsai.txt' , 'r') as f:
  speech = f.read()

In [0]:
#speech

### 請使用 jieba 將演說文切詞

In [0]:
import jieba

seg_list = jieba.cut(speech, cut_all=False)
words = []
for word in seg_list:
  words.append(word)

### 請統計該演說文最常出現的十大字詞

#### Method 1

In [0]:
dic = {}
for word in words:
  if len(word) >=2:
    if word not in dic:
      dic[word] = 1
    else:
      dic[word] = dic[word] + 1

In [0]:
swd = sorted(dic.items(), key = lambda k:k[1], reverse=True)

In [19]:
for rec in swd[0:10]:
  print(rec)

('我們', 43)
('台灣', 19)
('挑戰', 12)
('人民', 9)
('經濟', 8)
('中華民國', 7)
('一次', 7)
('未來', 6)
('自由民主', 6)
('世界', 5)

In [20]:
for k,v in swd[0:10]:
  print(k,v)

我們 43
台灣 19
挑戰 12
人民 9
經濟 8
中華民國 7
一次 7
未來 6
自由民主 6
世界 5

#### Method 2

In [0]:
dic = {}
for word in words:
  if len(word) >=2:
    dic[word] = dic.get(word,0) + 1

In [0]:
swd = sorted(dic.items(), key = lambda k:k[1], reverse=True)

In [23]:
for rec in swd[0:10]:
  print(rec)

('我們', 43)
('台灣', 19)
('挑戰', 12)
('人民', 9)
('經濟', 8)
('中華民國', 7)
('一次', 7)
('未來', 6)
('自由民主', 6)
('世界', 5)

#### Method 3
- https://docs.python.org/zh-tw/3/library/collections.html

In [25]:
from collections import Counter
words2 = []
for word in words:
  if len(word) >=2:
    words2.append(word)
c = Counter(words2)
c.most_common(10)

[('我們', 43),
 ('台灣', 19),
 ('挑戰', 12),
 ('人民', 9),
 ('經濟', 8),
 ('中華民國', 7),
 ('一次', 7),
 ('未來', 6),
 ('自由民主', 6),
 ('世界', 5)]

In [0]:
# [word for word in words if len(word) >=2]

In [29]:
from collections import Counter
words2 = [word for word in words if len(word) >=2]
c = Counter(words2)
c.most_common(10)

[('我們', 43),
 ('台灣', 19),
 ('挑戰', 12),
 ('人民', 9),
 ('經濟', 8),
 ('中華民國', 7),
 ('一次', 7),
 ('未來', 6),
 ('自由民主', 6),
 ('世界', 5)]

## 使用Pandas 讀取資料

In [0]:
import pandas
amzn = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/AMZN.csv')

In [31]:
amzn.head()

         Date      Open      High       Low     Close  Adj Close    Volume
0  1997-05-15  2.437500  2.500000  1.927083  1.958333   1.958333  72156000
1  1997-05-16  1.968750  1.979167  1.708333  1.729167   1.729167  14700000
2  1997-05-19  1.760417  1.770833  1.625000  1.708333   1.708333   6106800
3  1997-05-20  1.729167  1.750000  1.635417  1.635417   1.635417   5467200
4  1997-05-21  1.635417  1.645833  1.375000  1.427083   1.427083  18853200

In [0]:
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')

In [33]:
tw2330.head()

        Date   Open   High    Low  Close    Volume  Adj Close
0 2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
1 2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
2 2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
3 2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
4 2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

In [0]:
import requests
res  = requests.get('https://tw.appledaily.com/pf/api/v3/content/fetch/query-feed?query=%7B%22feedOffset%22%3A0%2C%22feedQuery%22%3A%22%22%2C%22feedSize%22%3A%22100%22%2C%22sort%22%3A%22display_date%3Adesc%22%7D&d=71&_website=tw-appledaily')
#res.json()